@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-white font-body antialiased;
}

a {
  @apply text-primary underline-offset-4 transition hover:text-primary-light;
}
